<html>
 <head>
   <title> Home Page </title>
   <head>
 <body bgcolor="#00FFFF">
 <!-- Latest compiled and minified CSS -->

 <div class="jumbotron text-center">
  <h1>Address Maintenance System</h1>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">  
      <li><a href="/address/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/address/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    <li><a href="/address/modify"><span class="glyphicon glyphicon-earphone"></span>Contact us</a></li>
	  
   </ul>
  </div>
</nav>
</div>
<div class="parallax"></div>
 <div class="jumbotron text-center">
  <h1>Project Details</h1>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    </div></nav></div>
 <!-- Left-aligned media object -->
  <h1> Faculty Details </h1>
  <div class="media">

    <div class="media-left">
      <img src="/img/img_avatar1.png" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Faculty</h4>
      <p>R.Beaulah Jayavadana </p>
    </div></br>
     <div class="media-left">
      <img src="/img/img_avatar1.png" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Faculty</h4>
      <p>Dr.K Mala </p>
    </div></br>
    <h1> Developers </h1>
     <div class="media-left">
      <img src="/img/surya.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Student</h4>
      <p>Surya R E </p>
    </div></br>
    <div class="media-left">
      <img src="/img/2017-08-22-14-28-40-246.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Student</h4>
      <p>Venkat Karthik V R </p>
    </div></br>
    
  </div>
  <div class="container">
  <div class="jumbotron">
    <h1>Purpose</h1>      
    <p>The Address Maintaince System is intended to provide a complete solution to maintain the personel contacts for the people belonging to 
       all age groups and all type of profession.</p>
  </div>
  </div>


 </body>
 </html>