<html>
<head>
  <style type="text/css">
  body{
  background-color:#489bab;
  font-family: "Adobe Garamond Premier Pro";
  font-size: 20px;
  background:img/img_avatar1.png;
  color:yellow;
  }
  </style>
  </head>
 <body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Address Maintenance System</a>
    </div>
   
    <ul class="nav navbar-nav navbar-right">
     
      <li><a href="home"><span class="glyphicon glyphicon-home"> Home </a></span></li>
  </ul>
  </div>

 <div class="jumbotron text-center">
  <h1 style="color: black;">Log in</h1>
</div>
    
<form action="loginaction" method="GET">
 <center>
  <div class="form-group">
 	<span class="glyphicon glyphicon-user"></span>
    <label for="uname">UserName:</label>
    <input type="text" class="form-control" placeholder="UserName" required  style="width:200px;" name="uname">
  </div>
  <div class="form-group">
  	<span class="glyphicon glyphicon-lock"></span>
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="password" required style="width:200px;" name="pwd">
  </div>
    <button type="submit" class="btn btn-default">Submit</button>
 </center>
  

</form>
</body>
</html>

