<html>
<head>
	<style type="text/css">
	body{
	background-color:#489bab;
	font-family: "Adobe Garamond Premier Pro";
	font-size: 20px;
	background:img/img_avatar1.png;
	color:yellow;
	}
</style>
</head>
 <body>

 	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Address Maintenance System</a>
    </div>
   
    <ul class="nav navbar-nav navbar-right">
     
      <li><a href="home"><span class="glyphicon glyphicon-home"> Home </a></span></li>
  </ul>
  </div>

 <div class="jumbotron text-center">
  <h1 style="color: black;">Contacts Details</h1>
</div>

<ul class="nav navbar-nav">
      <li class="active"><a href="#">Contactus</a></li>
    </ul>
</br>
</br></br>
<h1 style="color: yellow">
    <ol type="1">
      <li>Step 1: Signup First. </li> </br>
      <li>Step 2: Login to the Address Maintainance System. </li></br>
      <li>Step 3: Create the Contacts. </li></br>
      <li>Step 4: Search,Update,Delete the Contacts if Necessary. </li></br>
      <li>Step 5:Logout. </li> </br>
      </ol> 
</h1>

  </body>
  </html>